.css-wwtv31 {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    font-weight: 600;
    transition-property: all 200ms ease;
    transition-duration: 400ms;
    height: 4rem;
    min-width: 3rem;
    font-size: 1.2rem;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    color: #FFFFFF;
    background-color: rgb(73, 160, 235);
    outline: transparent solid 2px;
    border-radius: 0.375rem;
    margin-top: 1rem;
}

.css-wwtv31:hover {
    background-color: RGBA(255, 255, 255, 0.16);
}

.hr-line {
    margin-top: 7rem;
    border: 1px solid var(--secondary-text);
}

/* .top-up:hover {
    border: 2px solid rgb(73, 160, 235);
    background-color: white;
    color: rgb(73, 160, 235);
    ;
} */