:root {
  --primary-color: #4299E1;
  --background-color: #1A202C;
  --primary-button: rgb(73, 160, 235);
  --chakra-color-white: #FFFFFF;
  --secondary-text: #718096;

}

* {
  background-color: var(--background-color);
  color: var(--chakra-color-white);
}